*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(58, 160, 255);
    text-align: center;
    background-color: rgb(25, 38, 44);
}

video{
    aspect-ratio: 1/1;
}